p1,p2,p3,p4,p5{

font-size: 26px;
color: white;
font-family: Arial;

}

h1,h2,h7{
  font-size: 30px;
  color: white;
  font-family: Arial;

}

h3,h4,h5,h6{
  font-size: 16px;
  color: white;
  font-family: Arial;

}

h8,h9,h10,h11{
  font-size: 16px;
  color: white;
  font-family: Arial;

}

h13 {
  font-size: 30px;
  font-family: Verdana;
}

h12 {
  font-size: 45px;
  font-family: Verdana;
}
/* h7 {
  font-size: 30px;
  color: white;
}

h8, h9, h10 {
  font-size: 20px;
  color: white;
  text-indent: 40%;
} */

<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/White_grey_checkerboard.svg/1280px-White_grey_checkerboard.svg.png");
  background-repeat: no-repeat;
  background-size: 100% 65%;
}

/* Style the header */
.header {
  background-color: #cc0000;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}


/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

h7 {
  margin: 5px 0;
}
#wrapper {
  width: 600px;
  margin: 0 auto;
  background: #cc0000;
  padding: 10px 15px;
  border-radius: 10px;
}
input {
  margin: 5px 10px;
}
button {
  font-size: 18px;
  padding: 10px;
  margin: 20px 0;
  color: #cc0000;
  border: 0;
  border-radius: 10px;
  border-bottom: 3px solid #333;
}


#reset {
  background: white;
}





</style>
